li.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    text-align: left;
    width: max-width;
    height: 40px;
    background-color: #e1e1e0;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #1E1E1E;
    padding: 15px;
    box-shadow:
    1px 1px 10px rgba(0, 0, 0, 0.1),
    1px -1px 10px rgba(0, 0, 0, 0.1),
    -1px -1px 10px rgba(0, 0, 0, 0.1),
    -1px 1px 10px rgba(0, 0, 0, 0.1);
}

li.todo-item p.todo-text {
    width: 250px;
    margin-left: 20px;
    font-weight: 500;
    color: #13436D;
}
li.todo-item p.todo-text-completed{
    text-decoration:double line-through;
    color: #1E1E1E;
}
li.todo-item span.Icon-Check {
    width: 0;
    display: none;
}
li.todo-item span.Icon-Delete {
    width: 0;
    display: none;
}
li.todo-item span.Icon-Check svg:hover{
    scale: 1.4;
    cursor: pointer;
    fill:#13436D;
}

li.todo-item span.Icon-Delete svg:hover{
    scale: 1.4;
    cursor: pointer;
    fill: red;
}
li.todo-item:hover {
    scale: 1.0125;

}
li.todo-item:hover p.todo-text{
    margin: 0;
}

li.todo-item:hover span.Icon-Check{
    display: block;
    width: 20px;
    transition: all .5s ease;
}
li.todo-item:hover span.Icon-Delete{
    display: block;
    width: 15px;
    transition: all .5s ease;
}

@media (max-width: 640px) {
    li.todo-item {
        height: 60px;
    }
    li.todo-item p.todo-text {
        margin-left: 30px;
        font-size: 14pt;
    }
li.todo-item:hover span.Icon-Check {
    width: 30px;
    transition: all .5s ease;
}
li.todo-item:hover span.Icon-Delete {
    width: 22.5px;
    transition: all .5s ease;
}
}