div.Modal {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e1e1e025;
}
div.Modal.off {
    background-color: #e1e1e000;
    transition: all .5s;
}
