body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p-title{
  text-align: left;
  font-weight: 700;
  font-size: 10pt;
  margin: 0 0 20px 0;
  padding: 5px 0;
  color: #E1E1E0;
  width: 100%;

  border-bottom: 3px solid #13436D;
}
.p-add-todo {
  text-align: center;
  font-weight: 500;
  font-size: 10pt;
  margin: 20px 0;
  padding: 0;
  color: #E1E1E0;
}